contents:
- file: sample1.pdf
  range: range(pr.numPages)
  numup: 4
  hasTitle: True
  titles: ["タイトル1", "タイトル2", "タイトル3", "講演者1", "A大学"]
  toEven: True
  flowToDown: False
param:
  outFile: out.pdf
  margin: 16
  fontFile: /usr/share/fonts/ipaexg.ttf
  fontSize: 12
  header: Copyright 2017 日本オペレーションズ・リサーチ学会
  footer: "- %d/%d -"
  titleFontPos:
  - [48, 0, 216]
  - [48, 0, 156]
  - [48, 0, 96]
  - [36, 10, 40]
  - [24, 16, -6]
